/*
Custom CSS
BY: AUBYNJ

*/

body{
  overflow-x: hidden;
}

.form-field{
  margin-top: 100px ;
}
.nav-container{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.blog-header{
  border-bottom: 1px solid #e5e5e5;
  line-height:1;
}
.menu-list{
  display:flex;
  flex-direction: row;
  padding: 0px 30px;
  list-style-type: none;
  margin-top: 10px;
  justify-content: space-between !important;

}
.menu-list li a{
  text-decoration: none;
  color: #26262acc;
}
.nav-scroller{
  position: relative;
  z-index: 2;
  height: 2.75rem;
  line-height: normal;
  overflow-y: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.myNav{
  border-bottom: 1px solid #ccc;
}
.px-shift{
  padding-right: 1px !important;
  padding-top: 150px !important;
}
.bg-back{
  background-image: url("../img/back.jpg");
  height: 400px;
}
.bg-exec{
  background-image: url("../img/wow.jpg");
  height: 400px;
}

.bg-depart{
  background-image: url("../img/mine.jpg");
  height: 400px;
}


.media-sec{
  display: flex;
  flex-direction: row;
}

.media-sec > li > a{
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.media-sec > li{
  list-style-type: none;
  margin-right: 15px;
  font-size: 20px;
}

.whiteColor{
  color: #fff;
}

/* TOP media  */
.top-media{
  display: flex;
  flex-direction: row;
}

.top-media > li > a{
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.px-top{
  padding-right: 1px !important;
  margin-top: 150px !important;
}

.top-media > li{
  list-style-type: none;
  margin-right: 15px;
  font-size: 20px;
}

.footer-text{
  color: #ffff;
}

.parallax{
   /* The image used */
    background-image: url("../img/moonlight.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headingText{
  font-weight: bold;
  font-size: 35px;
}

.error-sec{
  text-align: center;
  padding-top: 130px;
  color: #fff;
}

.contact-sec{
  padding: 20px;
}
.tweets-sec{
  padding: 20px;
  height: 300px;
  overflow-y: auto;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px: 

}

.twitter-board{
  color: #ffff;
}

.div-sec{
  margin-top: 30px;
}

.mailList{
  width: 50px;
}

.invalid{
  color: #e92424;
}
.valid{
  color: #28a745;
}

.executive{
    width: 300px;
  /*  height: 300px; */
    overflow: hidden;
    display: inline-block;
    margin: 0 15px 30px 10px;
    position: relative;
    padding-left: 30px;

}

.gallerySize{
  height: 500px;
}


.presidentData{
  margin-left: -60px;
}

.quotation-heading{
  position: absolute;
  z-index: 1;
  margin: 40px 10px;
  color: #fff;
}
.quotation-heading > h1{
  color: #fff;
}

#imageSize{
  height: 450px;
}

.execIm{
  width: inherit;
}

.heading{
  padding-top: 40px;
  padding-bottom: 60px;
}

.mydiv{
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-gallery{
  width: 100%;
  margin-top: 20px;
}

.btn-override{
  background-color: #3a337d;
  cursor: alias;
}
.btn-override:hover{
  background-color: #3a337d;
}

.modal-image{
  margin: auto;
  width: 80%;

}

.footup{
  margin-top:-50px;
}

.instag{
  height: 300px;
  overflow-y: auto;
}

/*   Social Networks    */
.fb:hover{
  color: #3b5998;
}
.tw:hover{
  color:#1dcaff; 
}
.inst:hover{
  color:#fbad50;
}
.lin:hover{
  color: #0077B5;
}

.hr{

    margin-bottom: 0.5em;
    border-top: 1px solid #6e7271;
}

.close-img{
  z-index: 99999;
}

.vision{
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-left: 20px;
  line-height: 8px;
  top: -5px;
}

.side-div{
  position: fixed;
  width: 0;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 0.3s;
  transition: 0.5s ease-in;
}

.removeBorder{
  border: 1px solid #fff;
}

.slider_image{
  width: 400px;
}

.side-div img{
  display: block;
  margin-left: 25px;
}
.side-logo{
  margin-left: 25px;
  font-size: 9px;
}
.logo-pic-div{
  border-bottom: 1px solid #ccc;

}
.side-div-img{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 5px 0px 0px 0px;
}
.side-div-list{
  float: none;
  list-style-type: none;
  line-height: 30px;
  padding-left: 30px;
  font-size: 15px;
}

.side-div li a:hover{
  color: #000;
  list-style-type: none;
  text-decoration: none;
}
.side-div li:hover{
  background-color:rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.closeSide{
  float: right;
  margin-right: 20px;
  font-size: 15px;
  color:#000;
}

.box-image{
  max-width: 100px;
  max-height: 100px;
}
.card img{
  width: inherit;
  height: 210px;
}
.divider{
  line-height: normal;
  padding-bottom: 10px;

}
.divider1{
  height: 5px;
    border-top: 1px solid #e5e5e5;
}

.section-divider{
  height: 10px;
}
.section-big img{
  height: inherit;
}
.footer-row{
  padding-top: 100px;
}
.footer-mail{
  display: flex;
}
.logo-brand{
  font-weight: bold;
}
 .single{
   font-size: 25px;
 }

.footer-mail input{
  width: 400px;
}
.footer-list{
  list-style-type: none;
}
.footer-list > li a{
  color: #00FF;
  display: block;
  text-decoration: none;
}
.footer-box{
  width: 100%;
  margin-left: 100px;

}
/**************
MEDIA QUERIES
****************/

@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
  .some-wrapper img{
    height:270px;
  }
  .footer-box{
    width: 100%;
    margin-left: 10px;

  }

}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
  .some-wrapper img{
    height:270px;
  }

}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
  .some-wrapper img{
    height:270px;
  }
  .footer-box{
    width: 100%;
    margin-left: 10px;
  }

  .presImg{
    margin-left: 170px;  
  }  

  .execImg{
    margin-left: 110px;
  }
  .executive{

  }

}
@media only screen and (max-width: 480px){
  #imageSize{
    height: 300px;
  }

  .quotation-heading h1{
    font-size: 20px;
  }
  .quotation-heading{
    margin-top: -100px;
    width: 400px;
  }

  .presImg{
    margin-left: 100px;  
  }  

  .execImg{
    margin-left: 40px;
  }


}

@media only screen and (max-width: 320px){
  .some-wrapper img{
    height:200px;
  }

  .footer-box{
    width: 100%;
    margin-left: 10px;

  }
  #imageSize{
    height: 300px;
  }

  .quotation-heading h1{
    font-size: 10px;
  }
  .quotation-heading{
    margin-top: -100px;
    height: 10px;
    width: 280px;
  }
  .gallerySize{
    height: inherit;
  }

  .presImg{
    margin-left: 60px;  
  }  

  .execImg{
    margin-left: 0px;
  }

  .px-top{
      padding-right: 1px !important;
      margin-top: 50px !important;
    }
}

@media only screen and (max-width: 960px){
  .some-wrapper img{
    height:260px;
  }
  .footer-box{
    width: 100%;
    margin-left: 10px;

  }
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.wait-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/casa.jpg) center no-repeat #fff;
}
